@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-montserrat), sans-serif;
}

body {
  background: #0a0a0a;
  color: #ededed;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #0f172a;
}

::-webkit-scrollbar-thumb {
  background: #1e293b;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #334155;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #1e293b #0f172a;
}
